@charset "utf-8";
/* CSS Document */

.primary_header{
	font-style: italic;
	padding-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	
}

.secondary_header{
	margin-right: 10%;
	font-size: 40 px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color: #000000;
	padding-top: 2%;
	
}


#footer{
	background-color: gainsboro;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
	padding-bottom: 4%;
	padding-top: 4%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	
	
}
